body {
	font-family: "Fira Sans", sans-serif;
}

#bumpers {
	display: flex;
	justify-content: space-around;
	width: 640px;
	position: absolute;
	margin-top: 10px;
	opacity: 0.5;
}

.bumper {
	height: 40px;
	border-radius: 6px;
	border: 1px solid #777;
	background: none;
	width: 31%;
}

.bumper.hit {
	background: #ff0000;
}
