body {
	font-family: "Fira Sans", sans-serif;
}

#bumpers {
	display: flex;
	justify-content: space-between;
}

.bumper {
	height: 40px;
	border-radius: 6px;
	border: 1px solid #000;
	background: #fff;
	width: 32%;
}

.bumper.hit {
	background: #ff0000;
}
